<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modelo de IA usando LSTM para gerar trecho de música sertaneja">
    <meta name="keywords" content="lstm generate text, ai text, model lstm text, ai music generate">
    <meta name="author" content="catlangos">
    <link rel="icon" href="{{url_for('static', filename='images/brain.svg')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/brain.svg')}}" type="image/x-icon" />
    <title>LSTM - Curadoria</title>

    <!--Google font-->
    <link href="{{url_for('static', filename='assets/fonts/fonts.googleapis.com/css6ea3.css?family=Open+Sans:400,600,700,800')}}"
        rel="stylesheet">
    <link href="{{url_for('static', filename='assets/fonts/fonts.googleapis.com/css1087.css?family=Raleway:300,400,500,600,700')}}"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/fontawesome.css')}}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/bootstrap.css')}}">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/style.css')}}">

    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/responsive.css')}}">

    <style>
        .loader {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>

<body>
    <div class="loader">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="page-wrapper" style="display: none">
        <div class="page-body-wrapper">
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h3>Curadoria
                                    <small>status:
                                    </small>
                                </h3>
                                </br>
                                <div class="progress-showcase d-flex justify-content-center">
                                    <div class="col-sm-3">
                                        <span id="nome"></span>
                                        <div class="progress sm-progress-bar">
                                            <div id="barra_porcentagem" cor="{{cbarra}}" class="progress-bar" role="progressbar"
                                                style="" aria-valuenow=""
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center">
                                        <p style="font-size: 18px" id="frase" value=""></p>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button onclick="salvar_curadoria(1)" type="submit" class="btn btn-square btn-success" style="margin: 5px">
                                        <i class="fa fa-check"></i> Válido</button>
                                    <button onclick="salvar_curadoria(-1)" type="submit" class="btn btn-square btn-danger" style="margin: 5px">
                                        <i class="fa fa-times"></i> Inválido</button>
                                    <button onclick="proxima_frase()" type="submit" class="btn btn-square btn-info" style="margin: 5px">
                                        <i class="fa fa-forward"></i> Pular</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- latest jquery-->
    <script src="{{url_for('static', filename='assets/js/jquery-3.2.1.min.js')}}"></script>

    <!-- Bootstrap js-->
    <script src="{{url_for('static', filename='assets/js/bootstrap/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/notify/bootstrap-notify.min.js')}}" ></script>

    <script>
        URL = "/api"
        curador = window.location.href.split('/').pop()
        var frases, porcentagem, total_frases, ponto
        var total_curadas = 0
        var index = -1

        function notificacao(mensagem, tipo){
            $.notify({
                title:'',
                message: mensagem
            },
            {
                type: tipo,
                allow_dismiss:false,
                newest_on_top:true ,
                mouse_over:false,
                showProgressbar:false,
                spacing:10,
                timer:1000,
                placement:{
                    from:'top',
                    align:'right'
                },
                offset:{
                    x:30,
                    y:30
                },
                delay:2000 ,
                z_index:10000,
                animate:{
                    enter:'animated fadeInRight',
                    exit:'animated fadeOut'
                }
            });
        }

        function loading(estado){
            if(estado == 0){
                $('.page-wrapper').show();
            } else {
                $('.page-wrapper').hide();
            }
        }

        function grafico_p(){
            $('#nome').html(curador.toUpperCase() + ' <small id="porcentagem">' + porcentagem.toFixed(2) + '%</small>')
            cor = $('#barra_porcentagem').attr('cor')
            $('#barra_porcentagem').attr('aria-valuenow', porcentagem.toFixed(2))
            $('#barra_porcentagem').attr('style', 'width: ' + porcentagem.toFixed(2) + '%; background-color: ' + cor)
        }

        function salvar_curadoria(valor){
            $.ajax({
                type: 'POST',
                url: URL + '/curador/' + curador,
                data: JSON.stringify({'_id': parseInt($('#frase').attr('value')), 'voto': parseInt(valor)}),
                success: function(){
                    frases.splice(index, 1)
                    porcentagem += ponto
                    notificacao('Curadoria salva com sucesso!', 'success')
                    proxima_frase()
                },
                error: function(data, status){
                    notificacao('Ocorreu um erro para salvar a curadoria!', 'danger')
                },
                contentType: "application/json"
            })
        }

        function proxima_frase(){
            index++

            if(index >= frases.length){
                index = 0
            } 
            
            if (frases.length == 0){
                buscar_frases()
            } else {
                $('#frase').text(frases[index].frase)
                $('#frase').attr('value', frases[index]._id)
                porcentagem += (total_curadas / total_frases) * 100
            }
            grafico_p()
        }

        function buscar_frases(){
            loading(1)
            $.ajax({
                type: 'GET',
                url: URL + '/curador/' + curador,
                success: function(data){
                    frases = data.results.frases
                    porcentagem = data.results.p_concluido
                    total_frases = data.results.total
                    ponto = (1 / total_frases) * 100

                    grafico_p()

                    if(frases.length == 0){
                        $('#frase').text('Parabéns, você terminou a curadoria!')
                        $('#frase').attr('value', -1)
                        $("button").hide()
                    } else {
                        proxima_frase()
                    }
                    
                    loading(0)
                },
                error: function(data, status){
                    loading(0)
                    $("button").hide()
                    notificacao('Ocorreu para buscar os dados!', 'danger')
                },
            })
        }

        $(document).ready(function(){
            buscar_frases()
        })
    </script>


    <!-- Theme js-->
    <!-- <script src="{{url_for('static', filename='assets/js/script.js')}}" ></script> -->
    <!-- <script src="{{url_for('static', filename='assets/js/theme-customizer/customizer.js')}}    "></script> -->
</body>

</html>